.header {
  background-color: darkgray;
  color: #fff;
  padding: 16px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.blueButton {
  background-color: #80c7f7;
  color: black;
}

.buttonGap {
  width: 10px;
}

.icon {
  display: flex;
  margin-left: 10px;
  align-items: flex-end;
}

.userButton {
  background-color: #80c7f7;
  color: black;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 999;
}
