.container {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.formContent {
  display: flex;
  width: 100%;
}

.imageContainer {
  position: relative;
  flex: 1;
  max-width: 100%;
  margin-right: 20px;
}

.dishNameText {
  font-weight: bold;
}

.deepBlueButton {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #fff;
}

.redButton {
  background-color: red;
  color: #fff;
  margin-right: 10px;
}

.switchContainer {
  margin-right: 5px;
  margin-bottom: 100px;
}

.switchRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}