.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.main {
  flex: 1;
  padding-top: 150px;
  padding-bottom: 80px;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
}

.selectionContainer {
  display: flex;
  align-items: center;
}

.dishContainer {
  margin-top: 10px;
  padding: 10px;
}
  
.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid grey;
  padding: 10px;
}

.rightButtons {
  display: flex;
  align-items: center;
}

.items {
  margin-right: 10px;
}

.blueButton {
  background-color: #80c7f7;
  color: black;
}

.dish {
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 999;
}