.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: grey;
  top: 0;
  width: 100%;
  padding: 10px;
}

.topRow {
  display: flex;
  align-items: center;
  padding: 10px;
}

.switchRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.date {
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.select {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
}

.icon {
  display: flex;
  margin-left: 10px;
  align-items: flex-end;
}

.userButton {
  background-color: #80c7f7;
  margin-left: 10px;
  color: black;
}

.blueButton {
  background-color: #80c7f7;
  color: black;
  margin-left: 10px;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}